<div class="container">
  <br><br><br><br><br>
    {{#if user}} 
        <div class="row">
            {{#each equipos}}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title d-flex justify-content-between align-items-center">
                                Nombre del Equipo: {{ nombreEquipo }}
                                <br>
                                Categoria: {{categoria}} <a href=""><i class="fas fa-edit"></i></a>
                            </h3>
                            <h3 class="card-title d-flex justify-content-between align-items-center">
                                Encargado: {{encargado}}
                            </h3>
                            <div class="card-title d-flex justify-content-between align-items-center"> 
                                <span>
                                    <p>{{{observacion}}}</p>
                                </span>
                            </div>
                            <form action="/delete/{{_id}}" method="POST">
                            {{!-- <input type="hidden" name="_method" value="DELETE"> --}}
                                <a href="/nuevoEquipo/{{url}}" class="btn btn-success btn-block">Crear nuevo Jugador</a>
                                <br><br>
                                <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar este equipo </button>
                                <br>
                                <p>Equipos de este torneo</p>
                                <a href="" class="btn btn-success btn-block">Ver los equipos</a>
                                <br><br>
                            </form>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="card mx-auto">
                    <div class="card-body">
                        <h1>Hola {{nombre}}</h1>
                        <p clsss="lead">Todavía no tienes equipos creados!</p>
                        <a href="/nuevoTorneo" class="btn btn-success btn-block">Crear un Torneo</a>
                    </div>
                </div>      
            {{/each}}
        </div>
  
        
    {{/if}}
</div>